body {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
}

.green {
        color: green;
}
.CenterGothic {
    font-family: "Century Gothic", Century Gothic, Apple Gothic, sans-serif;
}
.makeBigger {
    font-size: 120%;
}