<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<div id="main_menu" class="green makeBigger">
    <h1><span class="CenterGothic">Y</span>oshi's Webpage</h1>
</div>
<div id="main_content">
    <p>
        <span class="green makeBigger CenterGothic">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut sem viverra aliquet eget. In egestas erat imperdiet sed euismod nisi porta. Duis at consectetur lorem donec
    massa sapien faucibus et molestie. Gravida cum sociis natoque penatibus et. Amet consectetur adipiscing elit ut aliquam
    purus sit. Suscipit adipiscing bibendum est ultricies integer quis auctor. Ut eu sem integer vitae justo eget.
    Suspendisse sed nisi lacus sed viverra tellus in. Facilisi etiam dignissim diam quis enim. Facilisis leo vel fringilla
    est ullamcorper eget nulla facilisi etiam. Eros donec ac odio tempor orci dapibus ultrices in. Sagittis aliquam
    malesuada bibendum arcu vitae elementum. Duis tristique sollicitudin nibh sit amet commodo nulla.
    </p>
    <p>
    Magna eget est lorem ipsum. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Auctor elit sed
    vulputate mi sit amet mauris commodo quis. At ultrices mi tempus imperdiet nulla malesuada. Tempor orci eu lobortis
    elementum nibh tellus. Nullam eget felis eget nunc lobortis mattis aliquam faucibus purus. Suscipit adipiscing bibendum
    est ultricies integer quis auctor elit. Praesent semper feugiat nibh sed pulvinar proin gravida. In eu mi bibendum neque
    egestas congue quisque egestas diam. Venenatis cras sed felis eget velit aliquet sagittis id. Scelerisque viverra mauris
    in aliquam sem. Eu nisl nunc mi ipsum faucibus. Tellus at urna condimentum mattis pellentesque id.
    </p>
    <p>
    Vitae turpis massa sed elementum. Senectus et netus et malesuada. Enim ut sem viverra aliquet eget sit. Magna eget est
    lorem ipsum dolor sit amet consectetur. Eu turpis egestas pretium aenean pharetra magna ac placerat. Bibendum neque
    egestas congue quisque egestas diam in. Lorem mollis aliquam ut porttitor. Varius duis at consectetur lorem donec. Cras
    ornare arcu dui vivamus arcu felis bibendum ut tristique. Mauris in aliquam sem fringilla ut morbi tincidunt augue
    interdum. Quis ipsum suspendisse ultrices gravida dictum fusce ut. Senectus et netus et malesuada fames ac turpis
    egestas. Sit amet venenatis urna cursus eget nunc scelerisque viverra. Eget dolor morbi non arcu. Dignissim diam quis
    enim lobortis scelerisque fermentum dui. Quis lectus nulla at volutpat diam ut venenatis tellus. Quis risus sed
    vulputate odio ut enim blandit volutpat maecenas. Volutpat odio facilisis mauris sit amet massa vitae tortor
    condimentum.
    </p>
    <p>
    Ridiculus mus mauris vitae ultricies leo integer malesuada nunc vel. Pharetra vel turpis nunc eget lorem dolor. Dis
    parturient montes nascetur ridiculus mus. Posuere urna nec tincidunt praesent semper feugiat. Feugiat nisl pretium fusce
    id. Scelerisque in dictum non consectetur a erat. Ac odio tempor orci dapibus ultrices in iaculis nunc sed. Eget magna
    fermentum iaculis eu non diam phasellus. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi
    tristique. Magna ac placerat vestibulum lectus mauris ultrices eros in cursus. Vulputate mi sit amet mauris commodo.
    Eget nunc lobortis mattis aliquam faucibus purus in. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere.
    Facilisis mauris sit amet massa. Suspendisse in est ante in. Nunc mattis enim ut tellus elementum sagittis vitae et leo.
    Pellentesque eu tincidunt tortor aliquam nulla. Egestas fringilla phasellus faucibus scelerisque.
    </p>
    <p>
    Pharetra massa massa ultricies mi quis. Sit amet commodo nulla facilisi nullam vehicula ipsum. Neque aliquam vestibulum
    morbi blandit cursus. A pellentesque sit amet porttitor eget dolor morbi non. Placerat vestibulum lectus mauris ultrices
    eros in cursus turpis. Quam viverra orci sagittis eu volutpat. Pulvinar sapien et ligula ullamcorper malesuada proin
    libero nunc. Sem nulla pharetra diam sit amet nisl suscipit. Morbi tristique senectus et netus et malesuada fames ac.
    Cursus vitae congue mauris rhoncus aenean vel elit. Lacus viverra vitae congue eu consequat. Massa sed elementum tempus
    egestas sed sed risus. Nec feugiat nisl pretium fusce. Malesuada proin libero nunc consequat interdum. Consequat id
    porta nibh venenatis. Leo vel orci porta non pulvinar neque laoreet suspendisse. Orci phasellus egestas tellus rutrum
    tellus pellentesque eu tincidunt. Tincidunt id aliquet risus feugiat.
    </p>
</div>


</body>
</html>
